sample/LICENSE
sample/README.md
sample/firmware/tiny424_trackball/tiny424_trackball.ino
sample/firmware/tiny424_trackball/tiny424_trackball.ino.hex
sample/hardware/plate_top/plate_top.kicad_pcb
sample/hardware/plate_top/plate_top.png
sample/images/board_set.png
sample/images/board.png
sample/images/build.jpg
sample/images/conn_az_1.png
sample/images/conn_az_2.png
sample/images/conn_promicro_1.png
sample/images/conn_promicro_2.png
sample/images/conn.jpg
sample/images/danmen.png
sample/images/top_plate.png
sample/images/top.jpg
sample/kicad/AZ1UBALL.kicad_mod
sample/kicad/footprint.png
